In [8]:
import pandas as pd

In [3]:
df = pd.read_csv("data/cleaned/ecommerce_cleaned.csv")

# load data to Neon server

In [7]:
import psycopg
from dotenv import load_dotenv
import os

# Load environment variables
load_dotenv()

# Get the connection string from environment
CONNECTION_STRING = os.getenv("CONNECTION_STRING")

# Establish connection
try:
    conn = psycopg.connect(CONNECTION_STRING)
    print("✅ Successfully connected to Neon database!")
    
    # Get server version
    with conn.cursor() as cur:
        cur.execute("SELECT version();")
        version = cur.fetchone()[0]
        print(f"Server version: {version[:50]}...")
except Exception as e:
    print(f"❌ Connection failed: {e}")
    print("\nMake sure you created a .env file with your CONNECTION_STRING")

✅ Successfully connected to Neon database!
Server version: PostgreSQL 17.5 (6bc9ef8) on aarch64-unknown-linux...

In [14]:
import pandas as pd
from sqlalchemy import create_engine

# Load cleaned data
df = pd.read_csv("data/cleaned/ecommerce_cleaned.csv")

# Create SQLAlchemy engine for easier DataFrame upload
engine = create_engine(CONNECTION_STRING)

# Upload to Neon
df.to_sql('sales_data', engine, if_exists='replace', index=False)
print("✅ Data uploaded successfully to Neon!")

✅ Data uploaded successfully to Neon!

In [15]:
# Total rows
pd.read_sql("SELECT COUNT(*) AS total_rows FROM sales_data;", engine)

# First 5 records
pd.read_sql("SELECT * FROM sales_data LIMIT 5;", engine)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,InvoiceMonth
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010-12
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010-12
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,2010-12
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010-12
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010-12