In [3]:
# Import libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
from sqlalchemy import create_engine
import os
from dotenv import load_dotenv

# Load environment variables
load_dotenv()
CONNECTION_STRING = os.getenv("CONNECTION_STRING")

# Create SQLAlchemy engine
engine = create_engine(CONNECTION_STRING)

print("✅ Connected to Neon database")

✅ Connected to Neon database

In [4]:
# Check total rows
total_rows = pd.read_sql("SELECT COUNT(*) AS total_rows FROM sales_data;", engine)
print(total_rows)

# Preview first 5 rows
df_preview = pd.read_sql("SELECT * FROM sales_data LIMIT 5;", engine)
df_preview

   total_rows
0      392692

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,InvoiceMonth
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010-12
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010-12
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,2010-12
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010-12
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010-12

In [8]:
query = "SELECT * FROM sales_data LIMIT 5;"
df_check = pd.read_sql(query, engine)
print(df_check.columns)

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country', 'TotalPrice', 'InvoiceMonth'],
      dtype='object')

In [15]:
# Total revenue
query_total_revenue = """
SELECT ROUND(SUM("TotalPrice"),2) AS total_revenue
FROM sales_data;
"""
total_revenue = pd.read_sql(query_total_revenue, engine)
total_revenue

ProgrammingError: (psycopg2.errors.UndefinedFunction) function round(double precision, integer) does not exist
LINE 2: SELECT ROUND(SUM("TotalPrice"),2) AS total_revenue
               ^
HINT:  No function matches the given name and argument types. You might need to add explicit type casts.

[SQL:
SELECT ROUND(SUM("TotalPrice"),2) AS total_revenue
FROM sales_data;
]
(Background on this error at: https://sqlalche.me/e/20/f405)